<h1>The List of Books</h1>

<table>
  <tr>
    <th>#</th>
    <th>title</th>
    <th>author</th>
    <th>summary</th>
    <th>date_of_publication</th>
  <tr>
  <% @books.each_with_index do |book, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= book.title %></td>
    <td><%= book.author.name %></td>
    <td><%= book.summary %></td>
    <td><%= book.date_of_publication %></td>
  </tr>
  <% end %>
</table>
